<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Add Item - UAH Theatre</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <!-- Tether -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        <!-- Our CSS -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/addStyle.css') }}">
    </head>
    <body>
        <!--SEARCH BAR-->
        {% include 'navbar.html' %}
        <div class="container-fluid">
            <div class="row">
                <div class="add-container offset-2 col-8">
                    <h3>Add New Item</h3>
                    {% if error %}
                        <p class="error" style="color:red;"><strong>*</strong> {{ error }}
                    {% endif %}
                    <form method=POST action='/postaddItem' enctype=multipart/form-data>
                        <!--ITEM NAME INPUT-->
                        <div class="form-group">
                            <div class="input-title">
                            <h6>Item Name</h6>
                            </div>
                            <input type="text" name="itemname" class="form-control" id="input-item-name" placeholder="Item Name" required>
                        </div>
                        
                        <!--DESCRIPTION INPUT-->
                        <div class="form-group">
                            <div class="input-title">
                            <h6>Description</h6>
                            </div>
                            <textarea name="description" class="form-control" id="input-description" placeholder="Description"></textarea>
                        </div>

                        <!--PHOTO UPLOAD-->
                        <div class="input-title">
                            <h6>Photo Upload</h6>
                            <div class="input-subtitle">
                                Upload up to 6 photos.
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 form-group">
                                <div class="input-title">
                                Front
                                </div>
                                <input type="file" name="photo1" accept="image/*" class="form-control" id="input-photo-1" placeholder="Photo">
                                <img class="form-control" id="photo1" src="#" alt="photo 1" style="display:none;" />
                            </div>
                            <div class="col-lg-4 form-group">
                                <div class="input-title">
                                Back
                                </div>
                                <input type="file" name="photo2" accept="image/*" class="form-control" id="input-photo-2" placeholder="Photo">
                                <img class="form-control" id="photo2" src="#" alt="photo 2" style="display:none;" />
                            </div>
                            <div class="col-lg-4 form-group">
                                <div class="input-title">
                                Top
                                </div>
                                <input type="file" name="photo3" accept="image/*" class="form-control" id="input-photo-3" placeholder="Photo">
                                <img class="form-control" id="photo3" src="#" alt="photo 3" style="display:none;" />
                            </div>
                            <div class="col-lg-4 form-group">
                                <div class="input-title">
                                Bottom
                                </div>
                                <input type="file" name="photo4" accept="image/*" class="form-control" id="input-photo-4" placeholder="Photo">
                                <img class="form-control" id="photo4" src="#" alt="photo 4" style="display:none;" />
                            </div>
                            <div class="col-lg-4 form-group">
                                <div class="input-title">
                                Side1 (Left)
                                </div>
                                <input type="file" name="photo5" accept="image/*" class="form-control" id="input-photo-5" placeholder="Photo">
                                <img class="form-control" id="photo5" src="#" alt="photo 5" style="display:none;" />
                            </div>
                            <div class="col-lg-4 form-group">
                                <div class="input-title">
                                Side2 (Right)
                                </div>
                                <input type="file" name="photo6" accept="image/*" class="form-control" id="input-photo-6" placeholder="Photo">
                                <img class="form-control" id="photo6" src="#" alt="photo 6" style="display:none;" />
                            </div>
                        </div>

                        <!-- ITEM TYPE INPUT -->
                        <div class="form-group">
                            <div class="input-title">
                            <h6>Item Type</h6>
                            </div>
                            <div class="form-control">
                                <div class="row radio">
                                    <div class="col-md-4">
                                        <input type="radio" name="item" value="prop-type"> Prop Type<br>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="radio" name="item" value="costume-type"> Costume Type<br>
                                    </div>
                                </div>
                                 <!-- PROP TYPE INPUT -->
                                <div id="prop-type" class="form-group hide">
                                    <div class="row radio-title-div">
                                        <div class="offset-6 col-6 clear-button-div">
                                            <button type="button" class="clear-button" onclick="clear_radio_butttons('prop')">Clear</button>
                                        </div>
                                    </div>
                                    <div class="form-control">
                                        <div class="row radio">
                                            <div class="col-md-4">
                                                <input type="radio" name="prop" value="hand"> Hand<br>
                                                <input type="radio" name="prop" value="personal"> Personal<br>
                                                <input type="radio" name="prop" value="set"> Set<br>
                                            </div>
                                            <div class="col-md-4">
                                                <input type="radio" name="prop" value="trims"> Trims<br>
                                                <input type="radio" name="prop" value="setdressing"> Set Dressing<br>
                                                <input type="radio" name="prop" value="greens"> Greens<br>
                                            </div>
                                            <div class="col-md-4">
                                                <input type="radio" name="prop" value="fx"> FX<br>
                                                <input type="radio" name="prop" value="other"> Other<br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        
                                <!-- COSTUME TYPE INPUT -->
                                <div id="costume-type" class="form-group hide">
                                    <div class="row radio-title-div">
                                        <div class="offset-6 col-6 clear-button-div">
                                            <button type="button" class="clear-button" onclick="clear_radio_butttons('costume')">Clear</button>
                                        </div>
                                    </div>
                                    <div class="form-control">
                                        <div class="row radio">
                                            <div class="col-md-4">
                                                <input type="radio" name="costume" value="outerwear"> Outerwear<br>
                                                <input type="radio" name="costume" value="tops"> Tops<br>
                                                <input type="radio" name="costume" value="pants"> Pants<br>
                                            </div>
                                            <div class="col-md-4">
                                                <input type="radio" name="costume" value="skirt"> Skirt<br>
                                                <input type="radio" name="costume" value="dress"> Dress<br>
                                                <input type="radio" name="costume" value="underwear"> Underwear<br>
                                            </div>
                                            <div class="col-md-4">
                                                <input type="radio" name="costume" value="footwear"> Footwear<br>
                                                <input type="radio" name="costume" value="other"> Other<br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- TIME PERIOD INPUT -->
                        <div class="form-group">
                            <div class="input-title">
                            <h6>Time Period</h6>
                            </div>
                            <div class="form-control">
                                <div class="row radio">
                                    <div class="col-md-4">
                                        <input type="checkbox" name="time" value="ancient"> Ancient (Greek and Roman) <br>
                                        <input type="checkbox" name="time" value="classical"> Classical (Renaissance to 1700) <br>
                                        <input type="checkbox" name="time" value="earlymodern"> Early Modern (1700-1800) <br>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="checkbox" name="time" value="latemodern"> Late Modern (1800-1900) <br>
                                        <input type="checkbox" name="time" value="20th"> 20th Century <br>
                                        <input type="checkbox" name="time" value="21st"> 21st Century <br>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="checkbox" name="time" value="future"> Future<br>
                                        <input type="checkbox" name="time" value="other"> Other<br>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- CULTURE/REGION INPUT -->
                        <div class="form-group">
                            <div class="input-title">
                            <h6>Region   </h6>
                            </div>
                            <div class="form-control">
                                <div class="row radio">
                                    <div class="col-md-4">
                                        <input type="checkbox" name="culture" value="namerica"> North America <br>
                                        <input type="checkbox" name="culture" value="samerica"> South America <br>
                                        <input type="checkbox" name="culture" value="asia"> Asia <br>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="checkbox" name="culture" value="europe"> Europe <br>
                                        <input type="checkbox" name="culture" value="africa"> Africa <br>
                                        <input type="checkbox" name="culture" value="australia"> Australia <br>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="checkbox" name="culture" value="fantasy"> Fantasy <br>
                                        <input type="checkbox" name="culture" value="scifi"> Sci-Fi <br>
                                        <input type="checkbox" name="culture" value="other"> Other<br>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- GENDER INPUT -->
                        <div class="form-group">
                            <div class="row radio-title-div">
                                <div class="input-title col-6">
                                    <h6>Gender</h6>
                                </div>
                                <div class="col-6 clear-button-div">
                                    <button type="button" class="clear-button" onclick="clear_radio_butttons('gender')">Clear</button>
                                </div>
                            </div>
                            <div class="form-control">
                                <div class="row radio">
                                    <div class="col-sm-4">
                                        <input type="radio" name="gender" value="male"> Male<br>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="radio" name="gender" value="female"> Female<br>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="radio" name="gender" value="unisex"> Unisex<br>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- COLOR INPUT -->
                        <div class="form-group">
                            <div class="input-title">
                            <h6>Color</h6>
                            </div>
                            <div class="form-control">
                                <div class="radio row">
                                    <div class="col-6 col-sm-4 col-lg-3">
                                        <input type="checkbox" name="color" value="red"> Red<br>
                                        <input type="checkbox" name="color" value="orange"> Orange<br>
                                        <input type="checkbox" name="color" value="yellow"> Yellow<br>
                                    </div>
                                    <div class="col-6 col-sm-4 col-lg-3">
                                        <input type="checkbox" name="color" value="green"> Green<br>
                                        <input type="checkbox" name="color" value="blue"> Blue<br>
                                        <input type="checkbox" name="color" value="purple"> Purple<br>
                                    </div>
                                    <div class="col-6 col-sm-4 col-lg-3">
                                        <input type="checkbox" name="color" value="pink"> Pink<br>
                                        <input type="checkbox" name="color" value="brown"> Brown<br>
                                        <input type="checkbox" name="color" value="gray"> Gray<br>
                                    </div>
                                    <div class="col-6 col-sm-4 col-lg-3">
                                        <input type="checkbox" name="color" value="white"> White<br>
                                        <input type="checkbox" name="color" value="black"> Black<br>
                                        <input type="checkbox" name="color" value="other"> Other<br>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- SIZE INPUT -->
                        <div class="form-group">
                            <div class="row radio-title-div">
                                <div class="input-title col-6">
                                    <h6>Size</h6>
                                </div>
                                <div class="col-6 clear-button-div">
                                    <button type="button" class="clear-button" onclick="clear_radio_butttons('size')">Clear</button>
                                </div>
                            </div>
                            <div class="form-control">
                                <div class="row radio">
                                    <div class="col-md-4">
                                        <input type="radio" name="size" value="xxs"> &lt;XS<br>
                                        <input type="radio" name="size" value="xs"> XS<br>
                                        <input type="radio" name="size" value="s"> S<br>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="radio" name="size" value="m"> M<br>
                                        <input type="radio" name="size" value="l"> L<br>
                                        <input type="radio" name="size" value="xl"> XL<br>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="radio" name="size" value="xxl"> &gt;XL<br>
                                        <input type="radio" name="size" value="other"> Other <br>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- CONDITION INPUT -->
                        <div class="form-group">
                            <div class="row radio-title-div">
                                <div class="input-title col-6">
                                    <h6>Condition</h6>
                                </div>
                                <div class="col-6 clear-button-div">
                                    <button type="button" class="clear-button" onclick="clear_radio_butttons('condition')">Clear</button>
                                </div>
                            </div>
                            <div class="form-control">
                                <div class="row radio">
                                    <div class="col-6 col-md-3">
                                        <input type="radio" name="condition" value="new"> New<br>
                                    </div>
                                    <div class="col-6 col-md-3">
                                        <input type="radio" name="condition" value="good"> Good<br>
                                    </div>
                                    <div class="col-6 col-md-3">
                                        <input type="radio" name="condition" value="used"> Used<br>
                                    </div>
                                    <div class="col-6 col-md-3">
                                        <input type="radio" name="condition" value="poor"> Poor<br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Navigate back to home page/ Trigger the confirmation modal -->
                        <button type="submit" name="cancel-button" class="btn" id="cancel-button" value="Cancel">Cancel</button>
                        <!--ADD ITEM BUTTON-->
                        <button type="submit" name="add-item-button" class="btn offset-md-1" id="add-item-button" value="Add">Add Item</button>
                    </form>
                    <!-- Cancel Confirmation Modal -->
                    <div class="modal fade" id="cancel-modal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Cancel Confirmation</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body" style="text-align: left;">
                                    You have not submitted the form yet. Are you sure you want to discard the item addition form?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Keep the form</button>
                                    <button type="submit" class="btn btn-primary" id="cancel-confirmed">Discard the form</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

<script>
    $(document).ready(function() {
        $('#cancel-confirmed').click(function() {
            location.href = 'home';
        });
        $( '#cancel-button' ).click(function() {
            $('#cancel-modal').modal('show');
            return false;
        });

        // display the photos after selecting the files
        $(":file").change(function (e) {
            if (this.files && this.files[0]) {
                var reader = new FileReader();
                $('#'+ $(this).attr('name')).css('display','initial');
                var img = $('#'+ $(this).attr('name'));
                reader.onload = function (e) {
                    img.attr('src', e.target.result);
                };
                reader.readAsDataURL(this.files[0]);
            }
        });

        toggle_prop_and_costume();
    });

    function clear_radio_butttons(input_name) {
        $('input[name=' + input_name + ']:checked').prop('checked',false);
    }

    function toggle_prop_and_costume() {
        $("input[name='item']").change(function() {
            $('#' + $(this).val()).removeClass('hide');
            if ($(this).val() === 'prop-type') {
                $('#costume-type').addClass('hide');
                clear_radio_butttons('costume');
            } else {
                $('#prop-type').addClass('hide');
                clear_radio_butttons('prop');
            }
        });
    }
</script>
