<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Edit Item's Production - UAH Theatre</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <!-- Tether -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        <!-- Our CSS -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/folderStyle.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/addStyle.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/modalStyle.css') }}">

    </head>
    <body>
        <!--SEARCH BAR-->
        {% include 'navbar.html' %}
        <div class="container-fluid">
            <div class="row">
                <div class="add-container offset-2 col-8 offset-md-4 col-md-4">
                    <h3>Add/Remove Item from Production</h3>
                    {% if error %}
                        <p class="error" style="color:red;"><strong>*</strong> {{ error }}
                    {% endif %}
                    <form method=POST action='/posteditFolders/{{itemid}}'>
                        <div class="form-group">
                            <div class="input-title">
                                <h6>Choose which production you want to add/remove {{ itemname }} from</h6>
                            </div>
                            <div class="list-group">
                                <div class="btn-gtoup" data-toggle="buttons">
                                    {% for folder in foldername %}

                                        {% if folder[2] == true %}
                                            <div class="btn list-group-item list-group-item-action active" id="folder_{{folder[0]}}">
                                                <input type="checkbox" name="{{folder[1]}}" value="{{folder[1]}}" checked> {{folder[0]}}
                                            </div>
                                        {% endif %}

                                        {% if folder[2] == false %}
                                            <div class="btn list-group-item list-group-item-action" id="folder_{{folder[0]}}">
                                                <input type="checkbox" name="{{folder[1]}}" value="{{folder[1]}}"> {{folder[0]}}
                                            </div>
                                        {% endif %}
                                        
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <!-- CANCEL BUTTON -->
                        <!-- Trigger the confirmation modal -->
                        <button type="button" name="cancel-button" class="btn" id="cancel-button" value="Cancel" data-toggle="modal" data-target="#cancel-modal">Cancel</button>

                        <!--ADD/REMOVE BUTTON-->
                        <button type="submit" name="add-to-folder-button" class="btn offset-md-1" id="add-to-folder-button" value="Add">Add to Selected Production(s)</button>

                        <!-- CREATE NEW FOLDER BUTTON -->
                        <!-- Trigger the create modal -->
                        <button type="button" name="create-folder-button" class="btn" id="create-folder-button" value="Create" data-toggle="modal" data-target="#add-folder-modal">Create New Production</button>

                    </form>

                    <!-- Cancel Confirmation Modal -->
                    <div class="modal fade" id="cancel-modal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Cancel Confirmation</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body" style="text-align: left;">
                                    You have not submitted the form yet. Are you sure you want to discard the form?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Keep the form</button>
                                    <button type="submit" class="btn btn-primary" id="cancel-confirmed">Discard the form</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Create new folder pop-up -->
                    <div class="modal fade" id="add-folder-modal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Create the Production</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <form method=POST action="/addFolder">
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <p class="error-message"></p>
                                            <input type="text" name="foldername" class="form-control" id="input-new-folder" placeholder="Folder Name">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                        <button class="btn btn-primary" name="addFolderButton" id="add-folder-button" type="submit" value='{{itemid}}'>Create</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

<script>
    $(document).ready(function() {
        $('#cancel-confirmed').click(function() {
            location.href = '/item/{{itemid}}';
        });

        $('#add-folder-button').click(function() {
            //remove trailing space and tab from the beginning and end of the name string
            var name_input = $('#input-new-folder').val().trim();
            $('#input-new-folder').val(name_input);

            if ( name_input.length === 0) {
                $('#add-folder-button').prop('type', 'button');
                $( '.error-message' ).text("* The name either is empty or contains only white spaces. Please input the eligible name for the folder. Example: Folder number 12");
                return;
            } else {
                $('#add-folder-button').prop('type', 'submit');
            }
        });
    });
</script>
