<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Help &amp; FAQ - UAH Theatre</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <!-- Tether -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        <!-- Font Awesome -->
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
        <!-- Our CSS -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/helpStyle.css') }}">
    </head>
    <body>
        <!--NAV BAR-->
        {% include 'navbar.html' %}
        <div class="help-container container-fluid">
            <h1>Thracker Help and Documentation</h1>
            <div class="row">
                <div class="col-md-5 col-lg-4 help-topic-links">
                    <p><b>Contents</b></p>
                    <ul>
                        <li><a href="#home-help">Home Page and Searching</a></li>
                        <li><a href="#filter-help">Filter Menu</a></li>
                        <li><a href="#characteristics-help">Understanding the Item Characteristics </a></li>
                        <li><a href="#identical-items-help">How to Distinguish Identical Items</a></li>
                        <li><a href="#barcode-help">Barcodes</a></li>
                        <li><a href="#reservation-help">Item Reservations</a></li>
                        <li><a href="#productions-help">Productions</a></li>
                    </ul>
                </div>
            </div>
            <div class="help-content row">
                <div id="home-help">
                    <h1>Home Page and Searching</h1>
                    <p>When you first arrive at the Home page, you see a list of all the items in the system. You can narrow down the list by using the Filter Menu. You can also search for a specific item by typing its name or its unique barcode into the search bar.</p>
                </div>
                <div id="filter-help">
                    <h1>Filter Menu</h1>
                    <p>You can access the Filter Menu by clicking on the Filter Menu icon (&nbsp;<i class="fas fa-sliders-h"></i>&nbsp;) next to the search bar.</p>
                    <p>Open up the different panels (e.g. "Color," "Size") to specify which characteristics you wish to narrow down the list by. The default state, where all the checkboxes under each panel are unchecked, means the list is not filtered by any of those characteristics. For example, if the Size panel has no checkboxes checked, then you are viewing items of all sizes.</p>
                    <p>After you check the appropriate checkboxes, <b>make sure to press the Apply Filters button</b> in order to refresh the list of items with the filters now applied.</p>
                </div>
                <div id="characteristics-help">
                    <h1>Understanding the Item Characteristics</h1>
                    <p>Each item must have a name and a barcode. The name is user inputted and should be as descriptive and concise as possible. The barcode is generated by the application when the item is first added to the system. The description is for users who want to finnd out more about the item. <b>Note:</b> the search functionality does not take into account words that are in the description field of items.</p>
                    <p>Items can only be one type of prop or costume, gender, condition, and size. <b>If the theater must input multiple identical items of different sizes, each individual item should be listed separately.</b> Items can be listed under one or more time periods, regions, and colors.</p>
                    <p>Regarding the Prop Type characteristics, we used the following as reference: (<a href="http://www.props.eric-hart.com/features/categories-of-props/" target="_blank">"Categories of Props"</a>) and (<a href="http://www.ia470.com/primer/props.htm" target="_blank">"Props Department"</a>)</p>
                </div>
                <div id="identical-items-help">
                    <h1>How to Distinguish Identical Items</h1>
                    <p>What if there are many similar, but still different, brown pants in the application? Even worse, what if there are two of the exact same item, the only difference being their sizes?</p>
                    <p>For the former case, this issue can be avoided by making sure to give items descriptive names. For the latter case, you will have to find specific items by looking up their barcode; even if you have multiple pairs of the exact same brown pants, each listing will still have a unique barcode. And in general, even if there are two physical copies of the same exact item, they should be inputted separately in the system.</p>
                </div>
                <div id="barcode-help">
                    <h1>Barcodes</h1>
                    <p>When you add a new item, our application automatically generates a unique barcode for that item. No two items should ever have the same barcode.</p>
                    <p>An item's barcode cannot be changed, so make sure to label the physical item carefully with its correct barcode.</p>
                </div>
                <div id="reservation-help">
                    <h1>Item Reservations</h1>
                    <p>If you wish to have full possession of an item for a defined period of time, you can mark the item as reserved. To do so, go into the specific item's Item Detail page and click the Reserve Item button near the top of the screen.</p>
                    <p>On the Reserve Item page, select a date range using the calendar widget. Dates that are gray and have a strikethrough are unavailable. First click the date you want the reservation to start, and then select the date you want the reservation to end. Make sure to <b>press the Apply button</b> to save the date range! (Don't just click away from the calendar widget.)</p>
                    <p>Once a reservation has been successfully made, you will be able to view it, along with all your other reservations, on the My Reservations page. The link to the page is under the right side menu with the <i class="fas fa-user-circle"></i> icon. The reservations are organized by whether they are current/ongoing reservations, future/upcoming reservations, or past reservations. You can edit the date range of upcoming reservations or delete them entirely. Make sure to <b>press the Apply button when editing the date range</b> of upcoming reservations!</p>
                </div>
                <div id="productions-help">
                    <h1>Productions</h1>
                    <p>Items can be organized into production folders. You can add an item to a specific production by going to its Item Detail page and clicking on the Add to Production Folder button near the top of the screen. Once on the Add/Remove Item from Production page, choose one or more production folders you wish to add the item to. You can also deselect folders that the item was previously in. On this page, you can also create a brand new production.</p>
                    <p>To view all the items in a specific production, head over to the Productions page by clicking on the View Productions link under the right side menu with the <i class="fas fa-user-circle"></i> icon. On this page, you can click on each production to view the items it contains, rename the production folder, or delete the folder.</p>
                </div>
            </div>
        </div>
    </body>
</html>