<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home - UAH Theatre</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <!-- Tether -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        <!-- Our CSS -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/homeStyle.css') }}">
        <!-- Home page functions -->
        <script src="{{ url_for('static',filename='homepage.js') }}"></script>
    </head>
    <body onload="updateFiltersList()">
        <!--SEARCH BAR-->
        {% include 'navbar.html' %}
        <!-- MAIN PAGE CONTENT -->
        <div class="all-items container-fluid">
            <div class="row" id="current-filters">
               {% if search != "a" %}
                    <p> Filtering by "{{search}}" </p>
               {% endif %}
            </div>
            <!-- ITEM LIST -->
            <div class="row">
                {% for item in itemname %}
                    <div class="col-sm-6 col-md-4 col-lg-3 item-container">
                        <div class="item" onclick="location.href='item/{{itemid[loop.index0][0]}}'">
                            <div class="item-image-container">
                                {% if image[loop.index0][0] != None %}
                                    {% for i in image[loop.index0] %} 
                                        <img id="item-preview" src="data:image/jpeg;base64, {{i}}" /> 
                                    {% endfor %}
                                {% endif %}
                                {% if image[loop.index0][0] == None %}
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/1/15/No_image_available_600_x_450.svg">
                                {% endif %}
                            </div>
                            <p>{{item[0]}}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>
