<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home - Barcelona Museums Ticketing & Review System</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <!-- Tether -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        <!-- Our CSS -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/museumStyle.css') }}">

        <!-- Navbar functions -->
        <script src="{{ url_for('static',filename='navbar.js') }}"></script>

    </head>
    <body>
        <!--SEARCH BAR-->
        {% include 'navbar.html' %}
        <div class="container-fluid">

            {% if not isAdmin %}
                <form action='/myAccount'>
                    <div class="form-group">
                            <h3>Welcome!</h3>


                            <button type="submit" name="manage-account-button" class="btn" id="manage-account-button" value="Manage">Manage Account</button>

                    </div>
                </form>
            {% endif %}

            <div class="row">
                <div class="add-container offset-2 col-8">

                    {% if not isAdmin %}
                        <h3>Select a Museum</h3>
                        {% if error %}
                            <p class="error" style="color:red;"><strong>*</strong> {{ error }}
                        {% endif %}

                        <form method=POST action='/museum'>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-5">
                                        {% if no_museums %}
                                            <input type="museumname" name="museumname" class="form-control" id="input-mus-name" placeholder="No museums currently exist!" disabled="disabled">
                                        {% else %}
                                            <input type="museumname" name="museumname" class="form-control" id="input-mus-name" placeholder="Search by Museum Name" >
                                        {% endif %}
                                    </div>

                                    OR

                                    {% if no_museums %}

                                        <div class="col-md-5">
                                            <div class="dropdown">
                                                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" disabled="disabled">
                                                    Select Museum
                                                  </button>
                                            </div>
                                        </div>

                                    {% else %}
                                        <div class="col-md-5">
                                            <div class="dropdown">
                                                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Select Museum
                                                  </button>
                                                  <!-- LIST OF MUSEUMS -->
                                                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    {% for museum in museum_list %}

                                                    <!-- TO DO: PUT LINK -->
                                                        <a class="dropdown-item" href="/museum/{{museum|first}}">{{museum|first}}</a>
                                                    {% endfor %}
                                                  </div>
                                            </div>
                                        </div>
                                    {% endif %}

                                    {% if no_museums %}
                                        <div class="col-md-1">
                                            <span class="form-group">
                                                <button class="btn" type="submit" name="search-button" id="search-button" value="Search" disabled="disabled">Go</button>
                                            </span>
                                        </div>
                                    {% else %}

                                        <div class="col-md-1">
                                            <span class="form-group">
                                                <button class="btn" type="submit" name="search-button" id="search-button" value="Search">Go</button>
                                            </span>
                                        </div>
                                    {% endif %}

                                </div>
                            </div>
                        </form>


                        <form method=POST action='/allMuseums'>
                            <div class="form-group">
                                <!--View all Museums BUTTON-->
                                <button type="submit" name="all-museums-button" class="btn" id="all-museums-button" value="Add">View All Museums</button>
                            </div>
                        </form>
                    {% endif %}

                    {% if isAdmin %}
                        <h3>Welcome, {{email}}!</h3>

                        {% if error %}
                            <p class="error" style="color:red;"><strong>*</strong> {{ error }}
                        {% endif %}


                        <form action='/reviewCuratorRequests'>
                            <div class="form-group">
                                <button type="submit" name="review-requests-button" class="btn" id="review-requests-button" value="Review">Review Curator Requests</button>
                            </div>
                        </form>

                        <div class="form-group">
                            <div style="text-align:center;">
                                <button type="button" name="add-museum-button" class="btn" id="add-museum-button" value="Add" data-toggle="modal" data-target="#add-museum-modal">Add Museum</button>
                            </div>
                        </div>

                        <form action='/deleteMuseum'>
                            <div class="form-group">
                                <button type="submit" name="delete-museum-button" class="btn" id="delete-museum-button" value="Delete">Delete Museum</button>
                            </div>
                        </form>

                        <form action='/logout'>
                            <div class="form-group">
                                <!-- View all Reviews BUTTON -->
                                <button type="submit" name="logout-button" class="btn" id="logout-button" value="Logout">Logout</button>
                            </div>
                        </form>

                        <!-- Add museum pop-up -->
                        <div class="modal fade" id="add-museum-modal" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">New Museum Form</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>

                                    <form method=POST action='/addMuseum'>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <p class="error-message"></p>

                                                <!--Museum NAME INPUT-->
                                                <div class="form-group">
                                                    <input type="text" name="input-museumname" class="form-control" id="input-museumname" placeholder="Museum Name" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                            <button class="btn btn-primary" name="submit-museum-button" id="submit-museum-button" type="submit">Submit Museum</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </body>
</html>