<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Set Reservation - UAH Theatre</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <!-- Tether -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        <!-- Our CSS -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/addStyle.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/folderStyle.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/modalStyle.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/reservationStyle.css') }}">
        <!-- Misc Links for Calendar Function -->
        <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
        <!-- Our Calendar functions -->
        <script src="{{ url_for('static',filename='calendar.js') }}"></script>
    </head>
    <body>
        <!--NAV BAR-->
        {% include 'navbar.html' %}
        <div class="container-fluid">
            <div class="row">
                <div class="add-container offset-1 col-10 offset-md-2 col-md-8">
                    <h3>Reserve Item</h3>

                    {% if error %}
                        <p class="error" style="color:red;"><strong>*</strong> {{ error }}
                    {% endif %}

                    <form method=POST action='/postSetReservation/{{itemid}}' enctype=multipart/form-data><form>

                        <div class="form-group">

                            <div class="row">
                                <div class="col-sm-4">
                                    <label>Select a date range</label>
                                </div>
                            </div>
                            <div class="row">
                                <!-- select start and end date -->
                                <div class="col-sm-5">
                                    <!-- PICK DATE -->
                                    <!-- TO DO: Show already reserved dates as unavailable -->
                                    <input readonly="true" name="daterange" value="" />
                                </div>
                            </div>
                        </div>

                        <!-- Trigger the confirmation modal -->
                        <button type="button" name="cancel-button" class="btn" id="cancel-button" value="Cancel" data-toggle="modal" data-target="#cancel-modal">Cancel</button>
                        <!--ADD ITEM BUTTON-->
                        <button type="submit" name="reserve-item-button" class="btn offset-md-1" id="reserve-item-button" value="{{itemid}}">Reserve Item</button>
                    </form>

                    <!-- Cancel Confirmation Modal / Navigate back to Item Detail page/ -->
                    <div class="modal fade" id="cancel-modal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Cancel Confirmation</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body" style="text-align: left;">
                                    You have not submitted the reservation form yet. Are you sure you want to discard the form?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Keep the form</button>
                                    <button type="submit" class="btn btn-primary" id="cancel-confirmed" onclick="location.href='/item/{{itemid}}'">Discard the form</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

<script type="text/javascript">
    $(document).ready(function() {
        // Tooltip for the icon buttons
        $('[data-tooltip="tooltip"]').tooltip({trigger: "hover"});

        var this_item_reservations = {{all_reservations|safe}};
        greyout_taken_dates_in_new_reservation(this_item_reservations, "{{default_start|safe}}"); // in calendar.js

    });
</script>
