<!DOCTYPE html>
<html lang="en">
    <head>
        <title>View Museum - Barcelona Museums Ticketing & Review System</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <!-- Tether -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        <!-- Our CSS -->
<!--         <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/addStyle.css') }}">
 -->        
<!--  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/folderStyle.css') }}">
 -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/museumStyle.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/modalStyle.css') }}">
         <!-- Add icon library -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- Production Folder functions -->
        <script src="{{ url_for('static',filename='prodFolders.js') }}"></script>
    </head>
    <body>
        <!--NAV BAR-->
        {% include 'navbar.html' %}
        <div class="container-fluid">
            <div class="row">
                <div class="add-container offset-1 col-10 offset-md-2 col-md-8">
                    <h3>CHANGE NAME HERE</h3>
                    {% if error %}
                        <p class="error" style="color:red;"><strong>*</strong> {{ error }}
                    {% endif %}



<!--
                    review museum
                    view other reviews -->
                    <div style="text-align:center;">

                        <!-- Purchase Ticket BUTTON -->
                        <button type="button" name="purchase-ticket-button" class="btn" id="purchase-ticket-button" value="Purchase" data-toggle="modal" data-target="#purchase-ticket-modal">Purchase Ticket</button>
                    </div>
                    <div style="text-align:center;">

                        <!-- Leave a Review BUTTON -->
                        <button type="button" name="leave-review-button" class="btn" id="leave-review-button" value="Purchase" data-toggle="modal" data-target="#leave-review-modal">Review Museum</button>

                    </div>


                    <!-- Purchase Ticket pop-up -->
                    <div class="modal fade" id="purchase-ticket-modal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Ticket Confirmation</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <form method=POST action="/purchasedTicket">
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <p class="error-message"></p>
                                            Thank you for purchasing a ticket to MUSEUM NAME.
                                            </br>
                                            Check your email for the ticket!
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- Write review pop-up -->
                    <div class="modal fade" id="leave-review-modal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Write your Review</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <form method=POST action="/postselectSpecificMuseum">
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <p class="error-message"></p>

                                            <!-- RATING -->
                                            <div style="text-align:left;">
                                                <div class = "column-one">
                                                    <div class="label">
                                                            Rating:
                                                    </div>
                                                </div>
                                                <div class="column-two">
                                                    <fieldset class="rating">
                                                        <input type="radio" id="star5" name="rating" value="5" />
                                                            <label class = "full" for="star5" title="5 stars"></label>
                                                        <input type="radio" id="star4" name="rating" value="4" />
                                                            <label class = "full" for="star4" title="4 stars"></label>
                                                        <input type="radio" id="star3" name="rating" value="3" />
                                                            <label class = "full" for="star3" title="3 stars"></label>
                                                        <input type="radio" id="star2" name="rating" value="2" />
                                                            <label class = "full" for="star2" title="2 stars"></label>
                                                        <input type="radio" id="star1" name="rating" value="1" />
                                                            <label class = "full" for="star1" title="1 star"></label>
                                                    </fieldset>
                                                </div>
                                            </div>
                                            </br>
                                            <textarea name="description" class="form-control" id="input-description" placeholder="Comment"></textarea>

                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                        <button class="btn btn-primary" name="submit-review-button" id="submit-review-button" type="submit">Submit Review</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>



                    <form action='/back' enctype=multipart/form-data>
                        <div style="text-align:left;">
                            <!--Go back to search-->
                            <button type="cancel" name="all-museums-button" class="btn" id="all-museums-button" value="Back">Back</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>