#all-museums-button {
    font-size: 16px;
    background-color: #0275d8;
    margin-top: 3vh;
    margin-bottom: 4vh;
    color: white;
}
#all-museums-button:hover {
    background-color: #FDDA24;
    cursor: pointer;
}
#search-button {
    font-size: 16px;
    background-color: #0275d8;
    color: white;
}
#search-button:hover {
    background-color: #FDDA24;
    cursor: pointer;
}

#cancel-button {
    font-size: 16px;
    background-color: white;
    border: 1px solid #adadad;
    margin-top: 3vh;
    margin-bottom: 4vh;
}
#cancel-button:hover {
    background-color: #e6e6e6;
    cursor: pointer;
}

/* The main inputs box */
.container-fluid {
    margin-top: calc(54px + 40px);
}

@media screen and (max-width: 575px) {
    .container-fluid {
        margin-top: calc(156px + 20px);
    }
}

.add-container {
    padding: 3vh;
    display: inline-block;
    background-color: #FFF;
    border-radius: 2px;
    box-shadow: 0px 0px 6px #aaaaaa;
}

.add-container h3 {
    color: #6a6a6a;
    margin-bottom: 30px;
    text-align: center;
}

.add-container form {
    display:inline-block; 
    text-align:center; 
    width:100%;
}

/* Textbox inputs */
#input-barcode,
#input-item-name,
#input-description {
    width: 100%;
}

.btn-primary {
    background-color: #ff4646;
    border: none;
}

.btn-primary:hover {
    background-color: #cc2828;
    border: none;
}

.radio {
    text-align: left;
}

.input-title {
    text-align: left;
}

.input-subtitle {
    font-size: small;
}

.clear-button-div{
    text-align: right;
}
.clear-button {
    background-color: #0275d8;
    color: white;
    cursor: pointer;
    font-size: 14px;
    border-radius: 6px;
    border: 0;
}
.clear-button:hover {
    background-color: #FDDA24;
}

.radio-title-div {
    margin-bottom: 2px;
}

.radio-title-div button {
    line-height: 21px;
}

.hide {
    display: none;
}
