.item-detail-container {
    padding: calc(54px + 40px) 10vw !important; /* navbar 1 row height is 54px */
}
@media screen and (max-width: 640px) {
    .item-detail-container {
        padding: calc(54px + 40px) 15vw !important;
    }
}

@media screen and (max-width: 575px) {
    .item-detail-container {
        padding: calc(156px + 20px) 15vw !important; /* navbar 3 rows height is 156px */
    }
}

@media screen and (max-width: 450px) {
    .item-detail-container {
        padding: calc(156px + 20px) 10vw !important;
    }
}

.item-name {
    font-weight: 600;
    font-size: 2rem;
}

.item-image {
    text-align: center;
}

.item-image img {
    width: 100%;
    height: 100%;
}

.prod-folder,
.reservation {
    text-align: center;
    font-style: italic;
    color: #8b8b8b;
}

.prod-folder .btn,
.reservation .btn {
    color: white;
    background-color: #0077C8;
    cursor: pointer;
}

.prod-folder .btn:hover,
.reservation .btn:hover {
    background-color: #FDDA24;
    border-color: #FDDA24;
}

.prod-folder .btn:disabled,
.reservation .btn:disabled,
#edit-item-button:disabled,
#delete-item-button:disabled,
#edit-item-button:hover:disabled,
#delete-item-button:hover:disabled,
.prod-folder .btn:hover:disabled,
.reservation .btn:hover:disabled {
    background-color: grey;
    border-color: grey;
    cursor: no-drop;
}

.item-action {
    text-align: center;
    margin-top: 40px;
}

.reservation-and-folder button,
.item-action button {
    font-size: 12px;
    width: 100%;
    color: white;
    margin-bottom: 15px;
    box-sizing: border-box;
    margin-right: 15px;
    cursor: pointer;
}

#edit-item-button {
    background-color: #0077C8;
}
#delete-item-button {
    background-color: #f55f5f;
}

#edit-item-button:hover,
#delete-item-button:hover {
    background-color: #FDDA24;
}
.item-action p {
    color: #e89797;
    font-style: italic;
}

#delete-confirmed {
    background-color: #ff4646;
    border: none;
}

#delete-confirmed:hover {
    background-color: #cc2828;
    border: none;
}

.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next.col-1,
.carousel-control-prev.col-1 {
    width: 6%;
    position: initial;
    padding: 0;
}

.carousel-indicators li {
    border-radius: 4px;
    height: 7px;
    max-width: 7px;
}

.carousel-inner > .carousel-item > img {
    object-fit: contain;
}

.carousel-inner.col-10 {
    padding: 0;
}

.carousel {
    height: 75vh;
}

.carousel-item.active {
    height: 100%;
}

.item-detail-container .item-detail-text {
    padding: 35px;
}