.folder-contents {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.1s;
}

.folder-contents > div {
    width: 100%;
    padding: 25px 15px;
    box-sizing: border-box;
}

.folder-contents .item {
    width: 100%;
    border: 1px solid #d3d3d3;
    border-radius: 3px;
    background-color: white;
    cursor: pointer;
    padding: 10px 20px;
}
.folder-contents .item img {
    width: 100%;
}

.folder > div {
    margin-bottom: 40px;
}

.folder > button {
    padding: 5px 15px;
    color: white;
    background-color: #0275d8;
    border-radius: 4px;
    border-style: none;
    cursor: pointer;
    transition: 0.3s;
    margin-top: -40px;
}
.folder > button:hover {
    background-color: #FDDA24;
}


#delete-button {
    font-size: 16px;
    background-color: #f55f5f;
    margin-top: 3vh;
    margin-bottom: 4vh;
    color: white;
}
#delete-button:hover {
    background-color: #FDDA24;
    cursor: pointer;
}

#manage-account-button {
    position: absolute;
    right: 0;
    top: 0;
}

#manage-account-button,
#my-tickets-button,
#my-reviews-button, 
#my-museums-button,
#logout-button,
#delete-account-button,
#request-button,
#add-exhibit-button,
#purchase-ticket-button,
#leave-review-button, 
#view-reviews-button,
#remove-exhibit-button,
#approve-request-button,
#deny-request-button,
#review-requests-button,
#delete-museum-button,
#add-museum-button,
#delete-museum-button,
#submit-museum-button,
#submit-exhibit-button,
#submit-review-button,
#cancel-button {
    font-size: 16px;
    background-color: #0275d8;
    color: white;}

#manage-account-button:hover,
#my-tickets-button:hover,
#my-reviews-button:hover, 
#my-museums-button:hover,
#logout-button:hover,
#curator-request-button:hover,
#delete-account-button:hover,
#request-button:hover,
#remove-exhibit-button:hover,
#approve-request-button:hover,
#deny-request-button:hover,
#purchase-ticket-button:hover,
#leave-review-button:hover,
#delete-museum-button:hover,
#view-reviews-button:hover,
#add-exhibit-button:hover,
#review-requests-button:hover,
#add-museum-button:hover,
#delete-museum-button:hover,
#submit-exhibit-button:hover,
#submit-museum-button:hover,
#submit-review-button:hover,
#cancel-button:hover {
    background-color: #FDDA24;
    cursor: pointer;

}

#all-museums-button,
#add-to-folder-button,
#view-contents-button,
#create-folder-button, 
#curator-request-button {
    font-size: 16px;
    background-color: #0275d8;
    margin-top: 3vh;
    margin-bottom: 4vh;
    color: white;
}

#add-to-folder-button:hover,
#view-contents-button:hover,
#create-folder-button:hover,
#all-museums-button:hover,
#curator-request-button:hover {
    background-color: #FDDA24;
    cursor: pointer;
}

.list-group-item {
    padding: 0.75rem 1.0rem;
}

.folder-name {
    color: black;
}

.icon-button {
    border: none;
    padding: 0;
    margin: 0;
    background: none;
}
.icon-button:hover {
    cursor: pointer;
}
.icon-button:focus {
    outline:none !important;
}

.icon-button.delete-folder:hover .hover-red {
    fill:red;
}

.icon-button.rename-folder:hover .hover-blue {
    fill:#0275d8;
}

#save-name-button, #add-folder-button, #submit-review-button {
    background-color: #0275d8;
}
#save-name-button:hover, #add-folder-button:hover, #submit-review-button:hover {
    background-color: #0042A5;
}

#input-folder-name {
    padding: 0.5rem 0.5rem;
}

.hide {
    display: none;
}

#search-button {
    font-size: 16px;
    background-color: #0275d8;
    color: white;
}
#search-button:hover {
    background-color: #FDDA24;
    cursor: pointer;
}

#search-button:disabled {
    cursor: not-allowed;
    background-color: #0275d8;
}

#cancel-button {
    font-size: 16px;
    background-color: white;
    border: 1px solid #adadad;
    margin-top: 3vh;
    margin-bottom: 4vh;
}
#cancel-button:hover {
    background-color: #e6e6e6;
    cursor: pointer;
}

/* The main inputs box */
.container-fluid {
    margin-top: calc(54px + 40px);
}

@media screen and (max-width: 575px) {
    .container-fluid {
        margin-top: calc(156px + 20px);
    }
}

.container-fluid h3 {
    color: #6a6a6a;
    margin-bottom: 30px;
    text-align: center;
}

.add-container {
    padding: 3vh;
    display: inline-block;
    background-color: #FFF;
    border-radius: 2px;
    box-shadow: 0px 0px 6px #aaaaaa;
}

.add-container h3 {
    color: #6a6a6a;
    margin-bottom: 30px;
    text-align: center;
}

.add-container form {
    display:inline-block; 
    text-align:center; 
    width:100%;
}

/* Textbox inputs */
#input-barcode,
#input-item-name,
#input-description {
    width: 100%;
}

.btn-primary {
    background-color: #ff4646;
    border: none;
}

.btn-primary:hover {
    background-color: #cc2828;
    border: none;
}

.radio {
    text-align: left;
}

.input-title {
    text-align: left;
}

.input-subtitle {
    font-size: small;
}

.clear-button-div{
    text-align: right;
}
.clear-button {
    background-color: #0275d8;
    color: white;
    cursor: pointer;
    font-size: 14px;
    border-radius: 6px;
    border: 0;
}
.clear-button:hover {
    background-color: #FDDA24;
}

.radio-title-div {
    margin-bottom: 2px;
}

.radio-title-div button {
    line-height: 21px;
}

.hide {
    display: none;
}

.checked {
    color: #FDDA24;
}


@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }

/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
    color: #ddd; 
    float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 

.column-one {
    padding-top: 7px;
    float:left;
    width:15%;
}
.column-two {
    float:left;
    width:40%;
}