.list-group-item {
    margin: 0;
}

.list-group-item:hover {
    background-color: #e6e6e6;
}

#reserve-item-button {
    font-size: 16px;
    background-color: #0275d8;
    margin-top: 3vh;
    margin-bottom: 4vh;
    color: white;
}
#reserve-item-button:hover {
    background-color: #FDDA24;
    cursor: pointer;
}

/*Hide the text input of the dates in calendar popup*/
.daterangepicker_input {
    display: none !important;
}